Sets

A set is a cillection which is unordered
To declare a set in python we use the curly brackets.

In [6]:
set={10,20,10,10,20,40,30,50,30}
#will get all the values..
for x in set: 


    print(x)

50
20
40
10
30

In [8]:
20 in set
    #will return true if the value is in the set

True

In [9]:
100 in set

False

In [10]:
set.add('pekky')
set
#add a value in a set

{10, 20, 30, 40, 50, 'pekky'}

In [11]:
set.add(100)
set

{10, 100, 20, 30, 40, 50, 'pekky'}

In [12]:
100 in set

True

In [13]:
#to remove an item from a set
set.remove('pekky')
set

{10, 20, 30, 40, 50, 100}

In [14]:
set.remove(100)
set

{10, 20, 30, 40, 50}

In [15]:
set1={5,10,20}
set2={10,20,30}
set1.issubset(set2) #doubt????

False

In [16]:
#to check subject or not 
set1={10,20}
set2={10,20,30}
set1.issubset(set2)# diubt??

True

In [17]:
#this will return a set with the union of the sets.
set1.union(set2) #doubt???

{10, 20, 30}

In [19]:
set1={4,2,3}
set2={4,3,1}

set1.union(set2)

{1, 2, 3, 4}